<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Reset Password', 'none')">
</head>
<body>

<div class="container-fluid text-center">
	<div th:replace="navigation :: header_menu"></div>
	<div>&nbsp;</div>
	<div>
	    <h2>Reset Your Password</h2>
	</div>
	
	<form th:action="@{/reset_password}" method="post" style="max-width: 500px; margin: 0 auto">
	    <input type="hidden" th:value="${token}" name="token" /> 
	    <div class="border border-secondary rounded p-3">
	        <div>   
		        <p>
		            <input type="password" id="password" name="password" class="form-control" placeholder="Enter your new password" 
		                   required maxlength="15" minlength="8" autofocus="autofocus" />
		        </p>
	        </div>
	        <div>   
		        <p>
		            <input type="password" class="form-control" placeholder="Confirm your new password" required 
		                   maxlength="15" minlength="8" autofocus="autofocus" oninput="checkPasswordMatch(this)" />
		        </p>
	        </div>
	        <div>
		        <p>
		            <input type="submit" value="Change Password" class="btn btn-primary" />
		        </p>
	        </div>
	    </div>
	</form>
</div>

<script type="text/javascript">
	function checkPasswordMatch(confirmPassword) {
		if (confirmPassword.value != $("#password").val()) {
			confirmPassword.setCustomValidity("Password do not match!");
		} else {
			confirmPassword.setCustomValidity("");
		}
	}
</script>

</body>
</html>








