<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" th:remove="tag">
		<div id="productList">
		
		    <th:block th:each="detail, status : ${order.orderDetails}">
		        <div class="border rounded p-1" th:id="'row' + ${status.count}">
		            <input type="hidden" name="productId" th:value="${detail.product.id}" class="hiddenProductId" />
		            
		            <div class="row">
		                <div class="col-1">
		                    <div class="divCount">[[${status.count}]]</div>	
					        <div><a class="fas fa-trash icon-dark linkRemove" href="" th:rowNumber="${status.count}"></a></div>	
		                </div>
		                <div class="col-3">
		                    <img th:src="@{${detail.product.mainImagePath}}" class="img-fluid" />
		                </div>
		            </div>
		            <div class="row m-2">
		                <b>[[${detail.product.name}]]</b>
		            </div>
		            <div class="row m-2">
		                <table>
		                    <tr>
		                        <td>Product Cost:</td>
		                        <td>
		                            <input type="text" th:value="${detail.productCost}" required 
		                                   th:rowNumber="${status.count}" 
		                                   class="form-control m-1 cost-input" style="max-width: 140px" />
		                        </td>
		                    </tr>
		                    <tr>
		                        <td>Quantity:</td>
		                        <td>
		                            <input type="number" step="1" min="1" max="5" th:value="${detail.quantity}" 
		                                   th:rowNumber="${status.count}" 
		                                   th:id="'quantity' + ${status.count}" 
		                                   required class="form-control m-1 quantity-input" style="max-width: 140px" />
		                        </td>
		                    </tr>
		                    <tr>
		                        <td>Unit Price:</td>
		                        <td>
		                            <input type="text" th:value="${detail.unitPrice}"  
		                                   th:rowNumber="${status.count}" 
		                                   th:id="'price' + ${status.count}" required
		                                   class="form-control m-1 price-input" style="max-width: 140px" />
		                        </td>
		                    </tr>
		                    <tr>
		                        <td>Subtotal:</td>
		                        <td>
		                            <input type="text" th:value="${detail.subtotal}" readonly="readonly"
		                                   th:id="'subtotal' + ${status.count}"
		                                   class="form-control m-1 subtotal-output" style="max-width: 140px" />
		                        </td>
		                    </tr>
		                    <tr>
		                        <td>Shipping Cost:</td>
		                        <td>
		                            <input type="text" th:value="${detail.shippingCost}" required 
		                                   class="form-control m-1 ship-input" style="max-width: 140px" />
		                        </td>
		                    </tr>
		                </table>
		            </div>
		        
		        </div>
		        <div th:id="'blank' + ${status.count}" class="row">&nbsp;</div>
		    </th:block>
		    
		</div>
		
		<a th:href="@{/orders/search_product}" id="linkAddProduct" class="btn btn-success">Add a Product</a>
		
	</div>
	
</body>	
	